/* Add your CSS styles here */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
#control-panel {
    display: flex;
    flex-direction: column;
    display: none;
}

#chat-container {
    flex-grow: 1; /* Takes up remaining space */
    overflow-y: auto; /* Adds scrollbar to chat container */
}
#chat {
    height: 100%; /* Adjust as necessary */
    border: 1px solid #ddd;
    flex-grow: 1; /* Takes up remaining space */
    margin-top: 10px;
}
.chat-message {
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.chat-message.selected {
    background-color: #e0e0e0;
}



.selected-message {
    display: flex;
    flex-direction: column;
}

.selected-message-user-name {
    font-size: 24px;
    margin: 5px 5px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {
    flex-grow: 1; /* Make the middle buttons fill available space */
    height: 64px;
    font-size: 32px; /* Larger font size */
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    max-width: 64px;
    max-height: 64px;
    padding: 10px;
    cursor: pointer;
}

.obs-icon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    background-color: #ffffff; /* Set the background color of the container */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow for better visibility */
    border: none;
}

.obs-icon {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Resize the image to fit inside the container */
}

/* Styling for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

/* Styling for the confirmation dialog */
.confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    z-index: 1;
}

/* Styling for the "Yes" button */
.confirmation-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#selected-message-panel {
    display: none;
}